& {
  background-color: #333;
  @extend %full-height__viewport;
  @extend %full-width__viewport;
  @extend %border-box;
  @include rem(padding, 5);

  @include rem(letter-spacing, 0.1);
  text-transform: uppercase;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wheel-content {
  @extend %align__center;
}

&.category__mobile-content-and-questions {
  background-color: $violet;
}

&.category__features-for-video {
  background-color: $orange;
}

&.category__mystery-category {
  background-color: $red;
}

&.category__hook-mechanisms {
  background-color: $blue;
}

&.category__data-we-could-gather {
  background-color: $green;
}

&.category__find-an-unknown-integration {
  background-color: $purple;
}

&.category__things-to-do-in-emails {
  background-color: $yellow__dark;
}


.confetti {
  @extend %full-height__viewport;
  @extend %full-width__viewport;
}

.category-list {
  @include rem(font-size, 1.8);
  @extend %no-margin;
  @extend %align__center;
}

.category-name {
  @extend %no-margin;
  @include rem(font-size, 6);
  font-weight: 700;
}
