<div class="wheel-content">
  <dl class="category-list">
    <dt class="{{unless hasResult 'hidden'}}">Your category</dt>
    <dd class="category-name">{{currentCategory.name}}</dd>
  </dl>

  {{#if hasResult}}
    <hr class="hr">
  {{/if}}

  {{#unless isSpinning}}
    <button {{action 'spin'}} class="button">
      Spin

      {{#if hasResult}}
        again
      {{/if}}
    </button>
  {{/unless}}
</div>
